
.body-content {
    background-color: @dark-color-dp3;
    min-height: 80vh;
    margin: .5em;
    padding: .5em;
    border-radius: @border-radius-standard;
    color: @color-text-main;
    box-shadow: @box-shadow-standard;
    z-index: @z-article;

    h1, h2, h3, h4, h5, h6 {
        color:@color-headings;
    }
}

#catlinks {
    z-index: @z-catlinks;
    background-color: @dark-color-dp4;
    border-radius: @border-radius-standard;
    color: @color-text-main;
    box-shadow: @box-shadow-standard;
    border: none; //overwrite MW base styling for catlink class
}

#toc {
    border: none;
    background-color:@dark-color-dp10;
    border-radius: @border-radius-half;

    ul li a .tocnumber {
        color:@color-text-main; //it shows up just fine
    }
}

/*
   ==Styling for Specific Special Pages and Page Action UI==
   -Recent Changes
   -Edit Box
   -History/Change Comparison

*/
form.mw-editform {

    textarea,
    input.oo-ui-inputWidget-input {
        background-color: @white-background-muted;
    }

    div.editOptions {
        color:@color-text-main;
        box-shadow: @box-shadow-standard;
        border:none; //overwrite standard MW styling
        border-radius: 0em 0em @border-radius-half @border-radius-half;
        background:@dark-color-dp12;
    }
}

oo-ui-inputWidget-input {
    background-color: @white-background-muted;
}

.mw-htmlform-ooui-wrapper {
    color:@color-text-main;
    box-shadow: @box-shadow-standard;
    border:none; //overwrite standard MW styling
    border-radius: 0em 0em @border-radius-half @border-radius-half;
    background:@dark-color-dp12;
}

.mw-changeslist-legend {
    color:#000;
}

.mw-plusminus-neg {
    color:@text-changes-neg;
}

.mw-plusminus-pos {
    color:@text-changes-pos;
}