
.body-content {
    background-color: @dark-color-dp3;
    min-height: 80vh;
    margin: .5em;
    padding: .5em;
    border-radius: @border-radius-standard;
    color: @color-text-main;
    box-shadow: @box-shadow-standard;
    z-index: @z-article;

    h1, h2, h3, h4, h5, h6 {
        color:@color-headings;
    }
}

#catlinks {
    z-index: @z-catlinks;
    background-color: @dark-color-dp4;
    border-radius: @border-radius-standard;
    color: @color-text-main;
    box-shadow: @box-shadow-standard;
    border: none; //overwrite MW base styling for catlink class
}

#toc {
    border: none;
    background-color:@dark-color-dp10;
    border-radius: @border-radius-half;

    ul li a .tocnumber {
        color:@color-text-main; //it shows up just fine
    }
}

