body {
    background-color:@dark-color-dp0;
}

.mw-page-container {
    background-color:@dark-color-dp0;
    padding: .5em;
    display: grid;
    grid-template-rows: 2em 2em 6em auto 5em;
    grid-template-columns: 10em auto;
    margin:.1em;
    z-index: @z-background;
}

.logo {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 3;
    margin: 0em;
    padding: 0em;
}

.mw-side-content {
    background-color:@dark-color-dp4;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
    margin: .5em;
    border-radius: @border-radius-standard;
    box-shadow: @box-shadow-standard;
}

.body-content {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 2;
    min-height: 80vh;
    margin: .5em;
    padding: .5em;
}

.mw-footer {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.printfooter {
    margin-top: 1em;
    margin-bottom: 1em;
}