#mw-navigation {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    flex-direction: row;
}

#right-navigation {
    display: flex;
    flex-direction: row;
}

#left-navigation {
    display: flex;
    flex-direction: row;
}

#personal-nav {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.mw-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mw-content-container h3, #personal-nav h3 {
    display: none;
}

#p-namespaces,
#p-variants,
#p-cactions,
#p-views,
#p-search {
    margin-left: 1em;
    & li {
        padding:.5em;
        transform: translate(0em,.4em);
        border-radius: @border-radius-actions;
        background-color: @dark-color-dp2;
        z-index: @z-cactions;
    }
    
}

#mw-navigation ul {
    list-style-type: none;
    list-style-image: none;
    margin: .2em;
}

#mw-navigation li {
    float: left;
    margin: .2em;
}

#p-personal ul {
    background-color:@dark-color-dp6;
    margin: .5em;
    padding-right: .5em;
    border-radius: @border-radius-standard;
    color: @color-text-main;
    box-shadow: @box-shadow-standard;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    list-style-image: none;
    transform: translate(0em, -1em);
}

#p-personal li {
    float: right;
    margin: .2em;
}

