
.mw-sidebar {

    padding: .5em;
    position: sticky;
    display: flex;
    flex-direction: column;

    nav {
        h3 {
            color:@color-headings;
            text-align: center;
            font-size:110%;
            width:50%; //All styling for the underline
            overflow: visible;
            border-bottom: 2px solid #72777d;
            white-space: nowrap;
        }
        div ul {
            list-style-type: none;
            list-style-image: none;
            float:left;
            margin: 0.3em 0 0 .3em;
            font-size: 95%;
        }
    }
}

