

a {
    color:@color-link;
    text-decoration: none;

    &:hover, &:active {
        color:@color-link--hover;
        text-decoration: underline;
    }

    &:visited {
        color:@color-link--visited;
    }
}

* h1, * h2, * h3, * h4, * h5, * h6 {
    color:@color-headings;
}
  
  
