{{#data-logos}}
<a href="{{link-mainpage}}" class="mw-logo">
	{{! alt is provided for valid HTML but given aria-hidden not needed. }}
	<img class="mw-logo-icon" src="{{1x}}" alt=""
		aria-hidden="true" height="50" width="50">
	<span class="mw-logo-container">
		<strong class="mw-logo-wordmark">{{msg-sitetitle}}</strong>
	</span>
</a>
{{/data-logos}}