{{#data-logos}}
<a href="{{main-page-href}}" class="mw-logo">
	{{! alt is provided for valid HTML but given aria-hidden not needed. }}
	<img class="mw-logo-icon" src="{{1x}}" alt=""
		aria-hidden="true" height="135" width="135">
</a>
{{/data-logos}}