{{#data-logos}}
<a href="{{main-page-href}}" class="mw-logo">
{{#icon}}
<img class="mw-logo-icon" src="{{.}}" alt=""
		aria-hidden="true" height="50" width="50">
        {{/icon}}
</a>
{{/data-logos}}