<div id="mw-panel" class="mw-sidebar">
	{{#data-portals-first}}{{>Cactions}}{{/data-portals-first}}
	{{#array-portals-rest}}{{>Cactions}}{{/array-portals-rest}}
	{{#data-portals-languages}}{{>Cactions}}{{/data-portals-languages}}
</div>