@import 'mediawiki.ui/variables.less';

@font-size-root: 100%;
@font-size-browser: 16; // Assumed browser default of `16px`

@font-family-serif:
	'Linux Libertine', // GNU+Linux, alternative to Times New Roman.
	'Georgia',         // Windows, intended as a serif typeface that would appear elegant but
	                   // legible printed small or on low-resolution screens.
	'Times',           // Windows, very similar to Times New Roman with subtle differences.
	serif;             // Platform default: 'Times New Roman' on Windows.

//
// Body content uses the user setting in browser / the system default sans-serif font:
// Arial on Windows, Roboto on Android.
// FIXME: Use WikimediaUI Base's OS specific default sans-serif fonts.

@font-family-sans: sans-serif;

//
// == Dark Theme Depth Colors ==
// Based on the Google Dark Theme Guide
// these aren't arbitrarily picked, they follow a pattern
//
@dark-color-dp0: #171717; //can't go too much darker than this
@dark-color-dp1: #1E1E1E;
@dark-color-dp2: #222222;
@dark-color-dp3: #272727;
@dark-color-dp4: #2A2A2A;
@dark-color-dp5: #2C2C2C;
@dark-color-dp6: #2D2D2D;
@dark-color-dp7: #2E2E2E;
@dark-color-dp8: #303030;
@dark-color-dp9: #313131;
@dark-color-dp10: #323232; //generally this is what is used for popup/OOUI/special-page elements' backgrounds
@dark-color-dp11: #343434;
@dark-color-dp12: #373737; //no point in going lighter than this

@shadow-color: #000000;
@white-background-muted: #DFDFDF;
//
// == Page content ==
//
@color-muted: @color-headings;
@color-disabled: #999999;
@color-headings: #DDDDDD;
@color-text-bold: #DDDDDD;
@color-text-main: #CDCDCD;
@color-text-main-dark: #323232;
@color-link: #258DC0;
@color-link--visited: #174aa1;
@color-link--hover: #4d76bb;
@color-link-new: #cf2d2d;
@color-link-stub: #ff5f5f; //very rarily used, however, the normal color is hard to see
@color-link-selected: @color-base;

@color-code-background: #2f3136;
@code-border: 1px solid #222222;

@line-height: 1.6; //seperates images and text a bit better

//Special Pages
@text-changes-pos: #419c41;
@text-changes-neg: #af4c4c;

//
// == Sidebar ==

@sidebar-heading-border: .15em solid #72777d;


//
// == Element Outline Styling ==
//
@border-radius-standard: .2em;
@border-radius-half: .1em;  //Neccesary for smaller elements so we don't over do it
@border-radius-actions: @border-radius-half @border-radius-half 0em 0em;
@box-shadow-standard: 0 0 1em #000000;



// See oojs/ui/src/themes/wikimediaui/common.less.
@background-color-frameless--hover: rgba( 0, 24, 73, 7/255 );
@color-primary: #36c; // wikimedia-ui-base.less



//z-indices - what elements go ontop of what
@z-background: 1;
@z-cactions: 2; //page action tabs
@z-cactions-selected: 4;
@z-article: 3;
@z-catlinks: 4; //category article footer
@z-searchbar: 4;
@z-sidebar: 5;
@z-navbar: 6; //navigation links in top-rigth of webpage